body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFDFD;
    color: #543D29;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  h1 {
    text-align: center;
  }
  h2 {
    font-family: 'Victor+Mono', sans-serif;
    font-size: 2.5rem;
    color: #FAEEC7; /* Change the color to your desired color */
  }
  
  h3 {
    color: #8F4314;
  }
  
  a {
    color: #4f560c;
  }
  
  ul {
    list-style: disc;
    margin-left: 20px;
  }
  
